# Fly.io configuration (опционально, если выберете Fly.io)

app = "poker-stat"
primary_region = "ams"

[build]

[env]
  NODE_ENV = "production"
  DATABASE_URL = "file:./data/dev.db"

[[mounts]]
  source = "poker_stat_data"
  destination = "/app/data"

[http]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[services]]
  http_checks = []
  internal_port = 3000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

